<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>echart</title>
		<script src="/js/echarts.min.js"></script>
		<script src="/js/jquery.js"></script>
	</head>
	<body>
		<div id="main" style="width: 600px;height:400px;"></div>
		<div id="line" style="width: 1200px;height: 400px;"></div>
		<div id="pie" style="width: 600px;height: 400px;"></div>
	</body>
	<script type="text/javascript">

        var getProductListByNumber = function () {
            var dateList = [];
            var priceList = [];

            $.get(
                "/product/search",
                {
                    platformId: 1,
                    number: 12345
                },
                function (data) {
                    var products = data.data;
                    //console.log(products);
                    for (var i=0;i<products.length;i++) {

                        dateList.push(products[i]['createdAt']);
                        priceList.push(products[i]['price'])
                    }
                    console.log(dateList);
                    console.log(priceList)
                }
            )
        }

	</script>
	<script type="text/javascript">

        var dateList = [];
        var priceList = [];
        var getProductListByNumber = function () {

            /*$.get(
                "/product/search",
                {
                    platformId: 1,
                    number: 12345
                },
                function (data) {
                    var products = data.data;
                    //console.log(products);
                    for (var i=0;i<products.length;i++) {

                        dateList.push(products[i]['createdAt']);
                        priceList.push(products[i]['price'])
                    }
                    //console.log(dateList);
                    //console.log(priceList)
                }
            )*/
            $.ajax({
				type: 'get',
				url: '/product/search',
				async: false,
				data: {
                    platformId: 1,
                    number: 12345
				},
                success: function (data) {
				    console.log(data)
                    var products = data.data;
                    console.log(products);
                    for (var i=0;i<products.length;i++) {

                        dateList.push(products[i]['createdAt']);
                        priceList.push(products[i]['price'])
                    }

                }
			});

        }
		getProductListByNumber();
        console.log(dateList);
        console.log(priceList);
	    // 基于准备好的dom，初始化echarts实例
	    var myChart = echarts.init(document.getElementById('main'));
		var myPie = echarts.init(document.getElementById('pie'));
		var myLine = echarts.init(document.getElementById('line'));
		
		var pieOption = {
			title: {
				text:'pie 入门例子'
			},
			tooltip: {
				
			},
			legend: {
				data:['销量']
			},
			//xAxis: {},
			//yAxis: {},
			series:[{
				name: '销量分布',
				type: 'pie',
				data: [
					{name:'裤子',value:40},
					{name:'大衣',value:30},
					{name:'卫衣',value:30}
				]
			}]
			
		}
	
		myPie.setOption(pieOption);
		var text1 = ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"];
		var text2 = [5, 20, 36, 10, 10, 20];
	    // 指定图表的配置项和数据
	    var option = {
	        title: {
	            text: 'ECharts 入门示例'
	        },
	        tooltip: {},
	        legend: {
	            data:['销量']
	        },
	        xAxis: {
	            //data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
				data: dateList
	        },
	        yAxis: {},
	        series: [{
	            name: '销量',
	            type: 'bar',
	            //data: [5, 20, 36, 10, 10, 20]
				data: priceList
	        }]
	    };
	
	var lineOption = {
	    title: {
	        text: 'line 入门示例'
	    },
	    tooltip: {},
	    legend: {
	        data:['价格']
	    },
	    xAxis: {
	        //data: ["1月","三月","五月","7月"]
			data: dateList
	    },
	    yAxis: {},
	    series: [{
			type: 'line',
			//data: [20,5,10,36,20,10]
			data: priceList
		}]
	};
	
	myLine.setOption(lineOption);
	    // 使用刚指定的配置项和数据显示图表。
	    myChart.setOption(option);


	</script>

</html>
