.header{
	background-color: red;
}
.product {
	padding-top: 10px;
	height: 380px;
	background-color: red;
}
.product-img {
	float: left;
	height: 98%;

}
.product-info {
	float: right;
	height: 98%;

}
.header {
	margin-top: 20px;
	background-color: #FF5722;
}
.record {
	height: 400px;
	background-color: yellowgreen;
}
.record-line {
	width: 95%;
	height: 95%;
}

.footer {
	height: 100px;
	padding-top: 20px;
	background-color: #DDDDDD;

}
.footer-line-a {
	margin: 5px 5px;
}