.product {
	padding-top: 10px;
	height: 400px;
	background-color: #007DDB;
}
.product-img {
	float: left;
	
	height: 98%;
	border: #000000 1px solid;
	background-color: yellow;
}
.product-info {
	float: right;
	height: 98%;
	
}
.header {
	margin-top: 20px;
	background-color: #FF5722;
}
.record {
	height: 400px;
	background-color: yellowgreen;
}
.record-line {
	width: 95%;
	height: 95%;
}

.footer {
	height: 100px;
	background-color: gray;
}